Source: qlog
Section: hamradio
Priority: optional
Maintainer: Ladislav Foldyna <ok1mlg@gmail.com>
Uploaders: Ladislav Foldyna <foldyna@gmail.com>
Build-Depends: debhelper (>= 10.0.0), qtbase5-dev, libsqlite3-dev, libhamlib-dev, libqt5charts5-dev, qtchooser, qttools5-dev-tools, libqt5keychain1, qt5keychain-dev, qtwebengine5-dev, libqt5serialport5-dev
Standards-Version: 4.5.0

Package: qlog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt Logging program for hamradio operators
 QLog is an Amateur Radio logging application for Linux, Windows and Mac OS. It
 is based on the Qt 5 framework and uses SQLite as database backend.

